<div class="text-center">
  <h2>{{album_name}}</h2>
  <p>Created by {{user.name}} on {{format_date release_date}}</p>
  <p>{{description}}</p>
  <p>
    <button class="btn btn-primary">Buy this Album!</button>
  </p>
</div>
