<div class="text-center">
  <h2>HI</h2>
 <aside class="discoPic" >
   <img src ="./image/cardriving.gif" alt = "brandImg">
 </aside>
 {{#each albums as |album|}}
  <div class="disco-cell">
  <h2>{{album_name}}</h2> 
  <p>This album was released on: {{release_date}}</p>
  <p>{{description}}</p>
  </div>
{{/each}}  
</div>
