<div class="text-center">
  <h2>HI</h2>
 <aside class="discoPic" >
   <img src ="../public/assets" alt = "brandImg">
 </aside>
 {{#each albums as |album|}}
  <div class="bio-cell">
  <h2>{{name}}</h2> 
  <p>This album was released on: {{release_date}}</p>
  <p>{{description}}</p>
  </div>
{{/each}}  
</div>
