<div class="text-center">
  <h2>faq</h2>
 <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
<div class="commonninja_component" comp-type="faq" comp-id="d4990d75-549b-4982-9283-b1fda5e2f017"></div>
</div>
