<div class='text-center'>
  <h2>Gallery</h2>
  <div class='carousel js-flickity'>
    <!-- images from unsplash.com -->
    <div class='carousel-cell'>
      <img src='./image/alone.jpg' alt='alone' />
    </div>
    <div class='carousel-cell'>
      <img src='./image/cassette.jpg' alt='casette' />
    </div>
    <div class='carousel-cell'>
      <img src='./image/delorean.jpg' alt='car' />
    </div>
    <div class='carousel-cell'>

      <img src='./image/medusa.jpg' alt='medusa' />
    </div>
    <div class='carousel-cell'>
      <img src='./image/starwars.jpg' alt='spacey' />
    </div>
    <div class='carousel-cell'>
      <img src='./image/windows95.jpg' alt='win95' />

    </div>
  </div>

</div>
