<div class="text-center">
  <h2>Gallery</h2>
  {{#each slides as |slide|}}
   <div class="carousel js-flickity">
        <!-- images from unsplash.com -->
        <div class="carousel-cell">
          <img src="{{source}}" alt="{{name}}" />
          <span class = "imgDesc">{{description}}</span>
        </div>
  </div>
{{/each}}  
</div>
<script src="./js/gallery.js"></script>
