<div class="text-center">
  <h2>Gallery</h2>
  {{#each slides as |slide|}}
 <div class="main-gallery">
  <div class="gallery-cell">
  <img src="{{source}}" alt="{{name}}" /> 
  <span class = "imgDesc">{{description}}</span>
  </div>
{{/each}}  
</div>
<script src="./js/gallery.js"></script>
