<div class="text-center">
  <h2>HI</h2>
 {{#each tours as |tour|}}
  <div class="bio-cell">
  <h2>{{venue}}</h2> 
  <p>{{location}}</p>
  <p> {{show_date}}</p>
  <p>{{description}}</p>
  </div>
{{/each}}  
 <aside class="tourPic" >
   <img src ="./image/tourImg.jpg" alt = "brandImg">
 </aside>
</div>
